<h1><%=@cocktail.name%></h1>
<p><% @cocktail.doses.each do |dose| %>
<p> <%= dose.description %></p>
<p> <%= dose.ingredient.name %> </p>
<p> <%= link_to "Delete dose", dose_path(dose), class: "btn btn-primary", method: :delete, data: { confirm: "Are you Sure?" } %> </p>
<% end %></p>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
